/*? -------------------------Button-4------------------- */
:root {
    --color-blackMain: rgb(14, 21, 41);
    --color-whiteText: rgb(255, 255, 255);
       
  }
    /** -----------------------MAIN Button4---------------------- */
    .component__button_4 { 
        display: flex;        
        align-items: center;
        
        
    }
    .component__button_4:active {        
        transform: translateY(-2px);
        
    }
    .component__button_4 button {
        position: relative;
        cursor: pointer;
        background-color: var(--color-greenBtn);
        color: var(--color-whiteText);

        

        overflow: hidden;
        font-size: 15px;
        font-family: var(--font-Main);
        border-radius: 0.5rem;
        width: 100px;
        height: 45px;
    }
    .component__button_4 button span{
        display: block;
        position: relative;
        transition: color 0.5s ease-in-out;
    }
    .component__button_4 button::before {
        content: "";

        background-color: var(--color-black-nav);
        transform: skewX(35deg);
        /* ON EVERY BEFORE ELEMENT */ 
        position: absolute;
        top: 0;
        left: -50px;
        width: 200%;
        height: 100%;
        /* ON EVERY BEFORE ELEMENT */
        
        transition: transform 0.5s linear;
    }
    .component__button_4 button:hover::before {
        transform: translateX(100%);
        color: var(--color-blackMain);
    }
    .component__button_4 button:hover > span {
        color: var(--color-blackMain);
        
    }
    