/*? -------------------------FOOTER------------------- */
.component__footer {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-black-nav);
    border-top: 10px solid var(--color-greenSecond);

    height: 300px;
    
    
}
.component__footer-content {
    gap: 20rem;   
}

.component__footer-logo {
    transform: scale3d(1.5,1.5,1.5);
}
.component__footer-info {
    font-family: var(--font-Main);
    color: white;
}
.component__footer-copyright {
    color: white;
    
}


@media screen and (max-width: 650px) {
 
    .component__footer-content {
        gap: 2rem;
    }
    .component__footer-logo {
        transform: scale3d(1,1,1);
    }
    
  }