/*? -------------------------contact------------------- */
.container__contact {
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../../assets/teamstad1.jpg');    
    animation: bg-pic1 50s ease-in-out 0s infinite ;
    font-family: var(--font-Main);
    padding-bottom: 5rem;
    
}
.contact__section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
    background-color:var(--color-black-header);    
    
    box-shadow: rgba(121, 121, 121, 0.3) 0px 0px 0px 3px;
    color: white;
    padding: 2rem;
    width: calc(1210px - 4rem); /*! wtf?? length of each box dont match???*/
    margin-top: 12rem;
}
.contact__section-info {
    max-width: 500px;    
}

.contact__section-input form{
    display: flex;
    flex-direction: column;
    
    margin-top: 1rem;
}
.contact__section-input form input,
.contact__section-input form select {
    max-width: 250px;
    border-radius: 0.21em;
    padding: 0.1rem;
    border:none;
}
.contact__section-input form textarea {
    max-width: 350px;
    height: 100px;
    margin-bottom: 1rem;
    border-radius: 0.21em;
    padding: 0.1rem;
    border:none;
}
.contact__section-input form label{
    margin-top: 0.5rem;
}
*:focus {
    outline: none;
}
.contact__section-input-name {
    display: flex;
    gap:1rem
}
.contact__section-input-name div{
    display: flex;
    flex-direction: column;
}


/* IMAGE*/
.contact__section__image {
    
}
.contact__section__image img{
    
    height: 400px;
    margin-top: 1rem;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}


@media screen and (max-width: 1024px) {
    
    .contact__section {
        width: 700px;
    }
    .contact__section__image img{
        height: 200px;
    }
    .contact__section-info p{
        width: 250px;
    }
   
}

@media screen and (max-width: 650px) {
    .contact__section {
        flex-direction: column;
        width: 300px;
    }
    .contact__section__image h2 {
        margin-top: 1rem;
    }
    .contact__section-input-name {
        flex-direction: column;
        gap:0rem
    }
  }